<img [src]="imgUrl$ | async" />

<ng-container *ngrxLet="hasPepperoni$; let hasPepperoni">
  <button (click)="pepperoniClick(hasPepperoni)">
    {{ hasPepperoni ? 'Remove' : 'Add' }} Pepperonni
  </button>
</ng-container>

<ng-container *ngrxLet="hasSausage$; let hasSausage">
  <button (click)="sausageClick(hasSausage)">
    {{ hasSausage ? 'Remove' : 'Add' }} Sausage
  </button>
</ng-container>

<h1>Price: ${{ price$ | async }}</h1>
